=render 'commons/header'

.home-wrapper

    .phrase-show
        .phrase-show-content#phrase-content-area
            -unless @random.nil?    
                = @random&.content
            -else
                まだ何も登録されていません！
            
        .phrase-show-info#phrase-info-area
            = @random&.source
            = @random&.tag

    .home-buttons
        %button.home-buttons-item#next-memorandum
            次のメモを見る
        
        %button.home-buttons-item
            =link_to '新しいメモを登録する' ,new_memorandum_path
        
        %button.home-buttons-item
            =link_to 'メモ一覧を見る' ,memorandums_path