.home-wrapper

    .phrase-show
        ここにメモを表示する。テストテストテストテストテストテストテストテストテストテストテストテスト

    .home-buttons
        %button.home-buttons-item 次のメモを見る
        %button.home-buttons-item 新しいメモを登録する
        %button.home-buttons-item メモ一覧を見る

