@import 'reset';
@import 'home';
@import 'header';
@import 'footer';
@import 'login';
@import 'flash';
@import 'memorandum';

.container {
    width: 80%;
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-light {
    text-align: right;
}

.flex-wrapper {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}


.page-title {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.button {
    font-weight: bold;
    height: 60px;
    border: none;
    padding: 0 20px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: black;
    }
}