.alert {
  color: orange;
  position: absolute;
  top: 20px;
  font-size: 20px;
  left: 16px;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  z-index: 999;
  animation-duration: 5s;

}


  
@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {

  .alert {
    font-weight: bold;
    left: 50%;
    top: unset;
    bottom: 150px;
    transform: translateY(-50%) translateX(-50%); 
  }

}
