.header {
    background-color: black;



    &-title {
        color: white;
        font-size: 40px;
        text-align: center;
        line-height: 42px;
        padding-top: 5px;

    }
    
    &-title span {
        color: orange;
    }
    
    &-description {
        font-size:1em ;
        color: white;
        text-align: center;
        padding-bottom: 3px;
    }

    &-button {
        font-weight: bold;
        position: absolute;
        top: 7px;
        right: 20px;
        border-radius: 5px;
        height: 60px;
        border: none;
    }


}

.home-button {
    right: 100px;
    width: 72px;
}
