.home-wrapper {
    text-align: center;
}

.phrase-show {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 30px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-content {
        font-size: 4em;
    }

    &-info {
        font-weight: bold;
    }
}

.home-buttons {
    width: 100%;
    margin-bottom: 30px;


    &-item {
        width: 200px;
        height: 40px;
        border: none;
        margin: 10px 10px;
        cursor: pointer;
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
        line-height: 40px;
    }

}
