.home-wrapper {
    text-align: center;
}

.phrase-show {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 4em;
    margin-top: 30px;
    min-height: 600px;

}

.home-buttons {
    width: 100%;

    &-item {
        width: 200px;
        height: 40px;
        border: none;
        margin: 10px 10px;
    }

}
