.home-wrapper {
    text-align: center;
}

.phrase-show {
    text-align: center;
    width: 80%;
    font-size: 4em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);


}

.home-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;

    &-item {
        width: 200px;
        height: 40px;
        border: none;
        margin: 10px 10px;
    }

}
