.login {

    &-container {
        max-width: 800px;
        width: 80%;
        margin: 0 auto;
    }
    
    &-title {
        font-size: 50px;
        text-align: center;
        margin-top: 100px;
        
        span {
            color: orange;
        }
    }

    &-subtitle {
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    &-form {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        label {
            text-align: right;
            line-height: 30px;
            width: 100px;
        }

    }
    
    
    &-field {
        margin-left: 20px;
        width: 100%;
    }

    &-button {
        width: 300px;
        border: none;
        margin-bottom: 30px;
        height: 35px;
    }
    
}

.actions {
    text-align: center;
    margin-top: 100px;
}


.links {
    text-align: right;
}



@media screen and (max-width: 767px) {

    .login-title {
        font-size: 35px;
    }

}